<div class="flex items-center justify-between my-[4px]">
  <div class="pl-3 ">
    <app-drawer class=""></app-drawer>
  </div>
  <div class="flex items-center">
    <img style="width: 45px" src="titlePizza.svg" alt="Pizza" />
        <p
          class="ml-3 text-3xl italic text-center text-[#f40639] font-bold font-serif"
        >
          Pablo Pizzaso
        </p>
  </div>
  <div class=" flex justify-end items-center gap-x-3">
  <!-- Theme toggle, Coins and Profile -->
   <!-- <button class="border-2 bg-[#f40639]" (click)="onClick()">Get product</button> -->
   <app-coins></app-coins>
    <app-menu></app-menu>
  </div>
</div>