<div data-popover-target="popover-bottom"
  class="flex items-center border-r-[1.5px] border-b-[1.5px] rounded-[14px] shadow-inner"
>
  <img src="coin.svg" alt="coins" class="w-6 h-6" />
  <p class="px-2 text-sm text-gray-500 font-semibold">30</p>
</div>


<div data-popover id="popover-bottom" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
  <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg">
      <h3 class="font-semibold  text-gray-900">Coins</h3>
  </div>
  <div class="px-3 py-2">
      <p>Use coins to get discounts on any meals of your choice</p>
  </div>
  <div data-popper-arrow></div>
</div>