<div class="grid grid-cols-3 gap-x-8 gap-y-6">
  <div
    *ngFor="let product of products; let i = index"
    class="card shadow-xl rounded-lg"
  >
    <!-- Card for Pizza products -->
    <div *ngIf="product.categoryName === 'Pizza'" class="rounded border p-6">
      <img
        [src]="pizzaImages[i % pizzaImages.length]"
        alt="Pizza Image"
        class="w-full h-[190px] object-cover rounded-md"
      />
      <div class="flex flex-col mb-2 mt-3">
        <p class="text-lg font-bold font-mono">{{ product.name }}</p>
        <p class="font-extralight text-sm text-[#f40639] mb-2 truncate">
          {{ product.description }}
        </p>
        <p class="mb-3 font-bold text-gray-800 text-xl">
          &#8377; {{ product.price }}
        </p>
        <div class="flex justify-end">
          <button class="bg-[#e44265] py-2 px-4 text-white text-xl rounded-lg">
            Add +
          </button>
        </div>
      </div>
    </div>

    <!-- Card for Beverages products -->
    <div
      *ngIf="product.categoryName === 'Beverages'"
      class="rounded border p-6"
    >
      <img
        [src]="beveragesImages[i % beveragesImages.length]"
        alt="Beverages Image"
        class="w-full h-[190px] object-cover rounded-md"
      />
      <div class="flex flex-col mb-2 mt-3">
        <p class="text-lg font-bold font-mono">{{ product.name }}</p>
        <p class="font-extralight text-sm text-[#f40639] mb-2 truncate">
          {{ product.description }}
        </p>
        <p class="mb-3 font-bold text-gray-800 text-xl">
          &#8377; {{ product.price }}
        </p>
        <div class="flex justify-end">
          <button class="bg-[#e44265] py-2 px-4 text-white text-xl rounded-lg">
            Add +
          </button>
        </div>
      </div>
    </div>

    <!-- Card for Breads products -->
    <div *ngIf="product.categoryName === 'Breads'" class="rounded border p-6">
      <img
        [src]="breadsImages[i % breadsImages.length]"
        alt="Breads Image"
        class="w-full h-[190px] object-cover rounded-md"
      />
      <div class="flex flex-col mb-2 mt-3">
        <p class="text-lg font-bold font-mono">{{ product.name }}</p>
        <p class="font-extralight text-sm text-[#f40639] mb-2 truncate">
          {{ product.description }}
        </p>
        <p class="mb-3 font-bold text-gray-800 text-xl">
          &#8377; {{ product.price }}
        </p>
        <div class="flex justify-end">
          <button class="bg-[#e44265] py-2 px-4 text-white text-xl rounded-lg">
            Add +
          </button>
        </div>
      </div>
    </div>

    <!-- Card for Deserts products -->
    <div *ngIf="product.categoryName === 'Deserts'" class="rounded border p-6">
      <img
        [src]="desertsImages[i % desertsImages.length]"
        alt="Deserts Image"
        class="w-full h-[190px] object-cover rounded-md"
      />
      <div class="flex flex-col mb-2 mt-3">
        <p class="text-lg font-bold font-mono">{{ product.name }}</p>
        <p class="font-extralight text-sm text-[#f40639] mb-2 truncate">
          {{ product.description }}
        </p>
        <p class="mb-3 font-bold text-gray-800 text-xl">
          &#8377; {{ product.price }}
        </p>
        <div class="flex justify-end">
          <button class="bg-[#e44265] py-2 px-4 text-white text-xl rounded-lg">
            Add +
          </button>
        </div>
      </div>
    </div>

    <!-- Card for Sides products -->
    <div *ngIf="product.categoryName === 'Sides'" class="rounded border p-6">
      <img
        [src]="sidesImages[i % sidesImages.length]"
        alt="Sides Image"
        class="w-full h-[190px] object-cover rounded-md"
      />
      <div class="flex flex-col mb-2 mt-3">
        <p class="text-lg font-bold font-mono">{{ product.name }}</p>
        <p class="font-extralight text-sm text-[#f40639] mb-2 truncate">
          {{ product.description }}
        </p>
        <p class="mb-3 font-bold text-gray-800 text-xl">
          &#8377; {{ product.price }}
        </p>
        <div class="flex justify-end">
          <button class="bg-[#e44265] py-2 px-4 text-white text-xl rounded-lg">
            Add +
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="grid grid-cols-3 grid-rows gap-x-8 gap-y-6">
  <div class="card">
    <div id="skeletonCard" class="rounded border p-6">
      
      <div class="flex flex-col mb-2 mt-3">
        <p class="text-lg font-bold font-mono">Margharieta Supreme Pizza</p>
        <p class="font-extralight text-sm text-[#f40639] mb-2">
          The italian delicacy with heart filled hot cheese.
        </p>
        <p class="mb-3 font-bold text-gray-800 text-xl">&#8377; 675</p>
        <div class="flex justify-end">
          <button class="bg-[#e44265] py-2 px-4 text-white text-xl rounded-lg">
            Add +
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- 

<div class="card">
  <div id="skeletonCard" class="rounded border p-6">
    <p-skeleton width="100%" height="190px" />
    <div class="flex mb-2 mt-3">
      <div>
        <p-skeleton width="18rem" height="20px" styleClass="mb-2" />
        <p-skeleton width="10rem" height="9px" styleClass="mb-2" />
        <p-skeleton width="4rem" height="30px" styleClass="mb-3" />
        <p-skeleton width="100%" height="2rem" styleClass="mt-2" />
      </div>
    </div>
  </div>
</div>
-->
